* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  position: relative;
  height: 100%;
  width: 100vw;
  font-size: 16px;
  background-image: url("prelanding-bkgd.png");
  background-position: center;
  background-size: cover;
  z-index: -2;
  overflow: auto;
}

.about-ocyan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 1em;
}

.about-bottom {
  display: flex;
  flex-direction: row;
  margin-bottom: 3em;
}

.about-mascot {
  height: 30em;
  max-width: 20em;
}

.about-text {
  position: relative;
  padding: 2em;
  background-color: #fff;
  height: auto;
  max-width: 60%;
  border-radius: 15px;
}

/*speech bubble*/

.about-text::before {
  position: absolute;
  top: 8%;
  right: -15%;
  content: '';
  height: 5em;
  width: 8em;
  background-color: #fff;
  border-radius: 100%;
  z-index: -3;
}

.about-text::after {
  position: absolute;
  top: 15.5%;
  right: -16%;
  content: '';
  height: 5em;
  width: 9em;
  background-image: url("prelanding-bkgd.png");
  border-radius: 100%;
  transform: rotate(-22deg);
  z-index: -3;
}

.about-text p {
  margin-bottom: 0;
  margin-top: 1em;
}

.about-title {
  min-width: 60%;
  margin-bottom: 1em;
  padding: .3em;
  margin-top: 2.5em;
  border-radius: 20px;
  background-color: #fff;
  font-weight: bold;
}

.about-title h1 {
  margin: 0;
  padding: 0;;
}


.about-bold {font-weight: bold;}

/*************Media Queries**************/

/*landscape tablets*/
@media (min-width: 820px) and (max-width: 1026px)  {
  .about-ocyan {
    margin-left: 2em;
    padding-top: 8em;
    margin-top: 12em;
    
  }
  .about-text {
    font-size: 1.5em;
    max-width: 70%;
  }
  .about-mascot {
    height: 18em;
    max-width: 8em;
    margin-top: 2em;
    margin-left: 2em;
  }
}


/*landscape mode phones*/
@media (max-width: 823px) {
  html, body {font-size: 14px;}
  #side-bar {display: none;}
  .about-text {font-size: medium;}
  .about-ocyan {
    padding-top: 10em;
    margin-top: 15em;
  }

#menu {
  width: 15vw;
  height: 18vh;
}

.about-mascot {
  height: 20em;
  max-width: 12em;
  margin-top: 2em;
  margin-left: 2em;
}

#ocyan-logo {
  width: 20%;}
.about-title {font-size: medium;}
.about-title { font-size: 2em;}
}


/*landscape mode smaller phones*/
@media (max-width: 729.99px) {
  .about-ocyan {
    padding-top: 10em;
    margin-top: 15em;
  }
  .about-mascot {
    height: 18em;
    max-width: 10em;
    margin-top: 2em;
    margin-left: 2em;
  }
  .about-text { width: 20em;}

.about-text::before,
.about-text::after {
 display: none;
}
}

/*portrait mode phones*/
@media (max-width: 600px){
  .about-ocyan {
    padding-top: 4em;
    margin-bottom: 6em;
    margin-top: 4em;
    margin-left: 2em;
  }
  
.about-bottom {
  margin: 0 auto;
}

.about-text {
  max-width: 90%;
}

.about-mascot {
 display: none;
}

  #menu {
    width: 12vw;
    height: 14vh;
    margin-left: 2.5em;
  }
}


/*portrait mode smaller phones*/

@media (max-width: 375.98px){
  .about-ocyan {
    padding-top: 10em;
    margin-top: 10em;
    margin-bottom: 12em;
  }
  .about-title {font-size: 1.5em;}
}