* {
    margin: 0;
    padding: 0;
  }
  
  html, body {
    position: relative;
    height: auto;
    line-height: 2;
    font-size: 16px;
    /*font-weight: bold;*/
  }
  
  /*make sure user's name is capitalised*/
  .changeName {
    text-transform: capitalize;
  }
  
  
  /******Story Content*****/
  
  .sea-gradient {
    height: 100%;
    background-color: red;
    background: linear-gradient( #A6E3FB,#007EA7,#007EA7, #29539B, #134074, #134074, #191970, #09C6F9, #09C6F9);
    background-repeat: no-repeat;
    width: 100vw;
    z-index: -3;
  }
  
  p {
    font-size: 1.2em;
  }
  
  .absolute {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .center {
    margin: 0 auto;
    text-align: center;
  }
  
  .push-down {
    margin-top: 20em;
  }

  .bold {font-weight: bold;}

  /*background of story*/
  #story {
    position: relative;
    width: 80%;
    height: auto;
    color: #000;
    margin: 4em auto;
    padding: 2em 1.5em 2em 2em;
    background-color: rgba(255,255,255,.7);
    border-radius: 15px;
  }
  
  .big-letter {
  float: left;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-size: 4em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: .9;
  }
  
  #story-title  {
    width: 80%;
    height: 2em;
    margin: 0 auto;
    font-size: 4em;
    text-align: center;
  }
  
  #lost-city {
    max-height: 600px;
    width: 100%;
    margin: 0 auto;
    padding-top: m;
  }
  
  #lost-city-img {
    display: block;
    max-height: 80vh;
    width: 100%;
    z-index: -1;
  }
  
  /**Epilogue**/
  
  /**source:https://www.eggradients.com/category/ocean-gradient**/
  
  #epilogue-btn {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  
  #ending {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
    padding-top: 10em;
    background-color: rgba(0,0,0,.6);
    overflow-y: auto;
    font-weight: 300;
  }
  
  .epilogue-container  {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex;
    align-items: flex;
    height: auto;
    width: 60vw;
    margin-top: 2em;
    margin-bottom: 10em;
    background-color: #e6e6e6;
  }
  
  .exit-epilogue {
    position: absolute;
    top: .2em;
    right: .4em;
    height: 1em;
    width: 1em;
    font-size: 3em;
    font-weight:bold;
    text-align: center;
    transform: rotate(45deg);
    cursor: pointer;
  }
  
  .epilogue-img-container {
    height: 40%;
    width: 100%;
  }
  
  .ending-img {
    height: 100%;
    width: 100%;
  }
  
  .epilogue-txt {
    padding: 0 3em 3em 3em;
  }

  #epilogue-btn {
    margin: 0 auto;
    border-radius: 15px;
    border: none;
    padding: .2em .8em;
    font-size: 1.2em;
    color: #fff;
    background-color: rgb(23, 166, 206);
  }

  .exit-btn-epilogue {
    display: block;
    width: 40%;
    margin-top: 1em;
    padding: .2em .8em;
    border-radius: 15px;
    border: none;
    font-size: 1.2em;
    color: #fff;
    background-color: #007EA7;
  }
  
  /**background elements parallax**/ 
  #mascot-swim {
    position: fixed;
    right: 13em;
    top: 12em;
    display: block;
    height: 6em;
    width: 3em;
    z-index: 1;
  }

  .trash-container {
    position: absolute;
    left:0;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100vw;
    padding-top: 10em;
  }
  
  .trash {
    height: 8em;
    width: 5em;
  }
  
  .trash-right,
  .trash-left {
    width: 30%;
  }
  
  .thin {
    width: 3em;
  }
  
  
  /***************Media Queries*****************/
  
  @media (max-width: 1045px) {
    #ending  {padding-top: 29em;}
    div.side-menu-img {
      width: auto;
      margin-right: 2em;
    }
    .trash-container {display: none;}
    #ocyan-logo {width: 15%;}
    #menu { 
      width: 65%;
      margin-left: 2em;
    }
    #mascot-swim {
      right: 3em;
      top: 12em;
    }
  }

  /*Medium devices (tablets)*/
  @media (max-width: 812.98px) {
    #mascot-swim {
      right: .8em;
      top: 12em;
    }
  
    #ending  {padding-top: 60em;}
    .epilogue-container {
      width: 88vw;
      margin-bottom: 24em;
    }
  
    .exit-epilogue {
      position: absolute;
      top: -0.3em;
      right: .2em;
      font-size: 3em;
    }
  }

   /*phone landscape*/
   @media (max-width: 768.98px) {
    #ending  {padding-top: 60em;}
  
    .epilogue-container {
      width: 65vw;
      margin-bottom: 40em;
    }
  }
   /*phone portrait*/
   @media (max-width: 414.98px) {
    #ending  {padding-top: 77em;}
    #mascot-swim {
      right: .1em;
      top: 12em;
    }
    .exit-epilogue {
      top: -0.4em;
      right: 1px;
    }
    .epilogue-txt {font-size: .9em;}
    #ocyan-logo {width: 30%;}
    .epilogue-container {
      width: 70vw;
      margin-bottom: 47em;
    }
    #menu {margin-left: 2.7em;}
  }

  @media (max-width: 823.98px) {
    #ending  {padding-top: 45em;}
    .epilogue-container {
      margin-top: 20em;
      width: 88vw;
      margin-bottom: 24em;
    }
  }